/* DEFAULTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

p {
  font-weight: 400;
  font-size: 14px;
  color: #212121;
}

a {
  text-decoration: none;
  color: #2d3b44;
  font-weight: 600;
}

ul, li {
  list-style: none;
}

.hide {
  display: none !important;
}

/* CONTAINER */

.container {
  width: 350px;
}

/* HEADER */

header {
  background: #1c1d1b;
  padding: 3px 10px;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
}

.logo img {
  height: 36px;
}

.hamburger {
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

nav {
  position: absolute;
  border: 1px solid #E7EEF6;
  right: -10px;
  top: 50px;
  display: none;
  background: #F1F6FA;
}
nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
nav ul li {
  padding: 8px 15px;
  border-bottom: 1px solid #E7EEF6;
}

nav ul li a {
  color: #000;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
}

/* BANNER */

.banner_section {
  background: #F1F6FA;
  text-align: center;
  padding: 20px;
}

.banner_section p {
  font-size: 16px;
}

/* DASHBOARD DATA */

.dashboard_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E7EEF6;
  padding: 20px 20px 20px 40px;
}

.dashboard_item.dashboard_item_total,
.dashboard_item.nonmainwp_changes {
  padding: 20px;
}

.dashboard_item .item_heading p {
  font-size: 14px;
}

.dashboard_item.dashboard_item_total .item_heading p,
.dashboard_item.nonmainwp_changes .item_heading p {
  font-size: 18px;
  font-weight: 600;
}

.item_heading {
  display: flex;
  align-items: center;
  gap: 20px;
}

.item_count p {
  font-size: 14px;
}

.item_count p a {
  color: #AD0000;
}

.dashboard_item.dashboard_item_total .item_count p,
.dashboard_item.nonmainwp_changes .item_count p {
  font-size: 18px;
  font-weight: 600;
}

/* FOOTER */

.button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.btn_sync {
  background-color: #18A4E0;
  color: #fff;
  padding: 15px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}

.button-box p {
  font-size: 10px;
}

/* SETTINGS FORM */

.form_banner_section {
  background: #F1F6FA;
  text-align: left;
  padding: 20px;
}

.form_box {
  padding: 20px;
  width: 100%;
}

.form_control {
  margin-bottom: 20px;
}

.form_control input[type="text"], 
.form_control input[type="password"] {
  width: 100%;
  height: 30px;
  font-size: 14px;
  outline: none;
  border: 1px solid #E7EEF6;
  color: #445461;
  padding: 20px;
  border-radius: 10px;
}

p.label {
  font-weight: 600;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

select {
  padding: 10px;
  border: 1px solid #E7EEF6;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.save_settings {
  background-color: #7fb100;
  color: #fff;
  padding: 15px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}

button.save_settings:disabled {
  background-color: #7fb100a3;
}